.parent-class {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 350px;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .table td, .table th {
    text-align: center;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  
  .card-header button {
    margin: 5px;
  }
  